<p id="notice"><%= notice %></p>

<h1>Listing Lists</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Reason</th>
      <th>Nb km</th>
      <th>Taxe coef</th>
      <th>User</th>
      <th>Vehicle</th>
      <th>Ride</th>
      <th>Start</th>
      <th>Arrival</th>
      <th>Attachment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.date %></td>
        <td><%= list.reason %></td>
        <td><%= list.nb_km %></td>
        <td><%= list.taxe_coef %></td>
        <td><%= list.user_id %></td>
        <td><%= list.vehicle_id %></td>
        <td><%= get_ride(list.ride) %></td>
        <td><%= list.start %></td>
        <td><%= list.arrival %></td>
        <td><%= image_tag list.picture.url(:thumb) %></td>
        <td><%= link_to 'Show', list %></td>
        <td><%= link_to 'Edit', edit_list_path(list) %></td>
        <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New List', new_list_path %>
<br>
<%= link_to 'Admin vehicle', vehicles_path, :class => 'navbar-link' %>
<br>



<br>

<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% end %>
