<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @list.date %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @list.reason %>
</p>

<p>
  <strong>Nb km:</strong>
  <%= @list.nb_km %>
</p>

<p>
  <strong>Taxe coef:</strong>
  <%= @list.taxe_coef %>
</p>

<p>
  <strong>User:</strong>
  <%= @list.user_id %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @list.vehicle_id %>
</p>

<p>
  <strong>Ride:</strong>
  <%= get_ride(@list.ride) %>
</p>

<p>
  <strong>Start:</strong>
  <%= @list.start %>
</p>

<p>
  <strong>Arrival:</strong>
  <%= @list.arrival %>
</p>

<p>
  <strong>Attachement:</strong>
  <%= image_tag(@list.picture.url(:thumb)) %>
</p>


<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
