<%= form_for(@vehicle) do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :brand %><br>
    <%= f.select :brand, options_for_select({"Alfa Romeo" => "Alfa Romeo",
       "Aston Martin" => "Aston Martin",
       "Audi" => "Audi",
       "BMW" => "BMW",
       "Chevrolet" => "Chevrolet",
       "Chrysler" => "Chrysler",
       "Ferrari" => "Ferrari",
       "FIAT" => "FIAT",
       "Ford" => "Ford",
       "Honda" => "Honda",
       "Hyundai" => "Hyundai",
       "Jaguar" => "Jaguar",
       "Jeep" => "Jeep",
       "Kia" => "Kia",
       "Lamborghini" => "Lamborghini",
       "Lancia" => "Lancia",
       "Land Rover" => "Land Rover",
       "Mazda" => "Mazda",
       "Mercedes-Benz" => "Mercedes-Benz",
       "MINI" => "MINI",
       "Mitsubishi" => "Mitsubishi",
       "Nissan" => "Nissan",
       "Peugeot" => "Peugeot",
       "Porsche" => "Porsche",
       "Renault" => "Renault",
       "Saab" => "Saab",
       "smart" => "smart",
       "Subaru" => "Subaru",
       "Suzuki" => "Suzuki",
       "Tesla" => "Tesla",
       "Toyota" => "Toyota",
       "Volkswagen" => "Volkswagen",
       "Volvo" => "Volvo"}) %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :power %><br>
    <%= f.number_field :power %>
  </div>
  <div class="field">
    <%= f.label :vehicle_type %><br>
    <%= f.select :vehicle_type, options_for_select({"car" => "car", "bike <50" => "bike <50", "bike >50" => "bike >50"}) %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
